
/*Привет! Я Павел Мальцев*/

body{
  font-family: arial, sans-serif;
}

nav{
  width: 1700px;
  height: 60px;
  background: #344051;
}

.container52 {
  position: fixed;
  top: 0;
  left: 0;
}

.logo{
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  padding-left: 300px; /*Отступ слева*/
  float: left; /*Прижимается блок к следующему блоку с левой или правой стороны*/
}

.menu{
  float: left;
  padding-left: 300px;

}

.menu li{
  float: left; /*В данной ситуации это свойство поставило кнопки меню в ряд и прижало кнопку к кнопке*/
  line-height: 60px; /*Расстояние между верхней линией и текстом*/
  color: #fff; /*Цвет букв меню*/
  margin-right: 40px; /*Отступ справа*/
  font-size: 16px; /*Размер текста*/
  text-transform: uppercase; /*Заглавные буквы у всего текста - uppercase*/
}

.main{
  display: flex;
  width: 100%;
  height: 800px;
  margin: -820px 0px 0px 0px;
  float: left;
  background: url(../img/fon2.3.png) 0% 0%/1600px no-repeat local;
}

.title__container{
  margin: 400px 0px 0px 250px;
  color: #2c384a;
  text-align: center;

}

.title__container h1{
  font-size: 40px;
  font-weight: bold;
}

.title__container h4{
  margin-top: 40px;
  font-size: 22px;
  color: #79818d;

}

.title__container input{
  height: 40px;
  text-align: center;
  border: 2px solid #6d7682;
  background: none;
  border-radius: 5px;
  color: #6d7682;
  font-size: 24px;
  padding: 0px 16px;
  margin: 30px 14px 0px 14px;
}

.hr-line{
  (?) /* Как сделать толщину линии и тень вверх?*/
}




/* Обо мне */

.aboutme_css {
  background: color: #fff;
  margin: 880px 0px 0px 0px;

}

.aboutme_text {
  line-height: 50px;
  font-size: 25px;
  color: #263244;
  text-align: center;

}

.aboutme_text_img {
  margin: 0px 10px 30px 755px;
}

.aboutme_text_img1 img {
  display: block;
  margin: 0px auto 10px;
  border-radius: 50%;
  border: 1px #000 solid;
  width: 100px;
  margin-left: 735px;

}

.aboutme_css p {
  padding-left: 25%;
  padding-right: 25%;
  color: #6d7682;
  font-size: 15px;
}

.aboutme_css input {
  height: 40px;
  border: 1px solid #6d7682;
  background: none;
  border-radius: 5px;
  color: #6d7682;
  font-size: 24px;
  padding: 0px 16px;
  margin-left: 45%;
}

.text_input{
  margin: 70px 0px -10px -50px;
}



/* Что я умею? */

.container3 h4 {
  line-height: 86px;
  font-size: 25px;
  color: #263244;
  padding: 70px 10px 50px 10px;
}

.container3 {
  width: 100%;
  height: 800px;
  margin-top: auto;
  float: left;
  background: url(../img/fon3.1.png) 50% 50%/2400px no-repeat local;
}

.container3 img {
  margin: -65px 100px 100px 760px;
}


.container4 {
  column-gap: 5%;
  column-count: 4;
  column-fill: auto;
  margin: 0px 70px 0px 70px;

}

.Veb-dizain {
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 120px 20px 5px 20px;
}

.Veb-dizain1 {
  margin: 0px 0px -80px -670px;
  padding: 20px 20px;
}


.Razrabotka {
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 140px 20px 5px 20px;
}

.Razrabotka1 {
  margin: -20px 0px -70px -670px;
  padding: 13px 20px;
}

.Optimizatsia {
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 140px 20px 5px 20px;
}

.Optimizatsia1 {
  margin: -20px 0px -80px -670px;
  padding: 15px 20px;
}

.Marketing {
  color: #000;
  font-size: 17px;
  text-align: center;
  padding: 140px 20px 5px 20px;
}

.Marketing1 {
  margin: -20px 0px -90px -670px;
  padding: 20px 20px;
}




/* Кейсы */

.container5 {
  line-height: 15px;
  font-size: 23px;
  color: #263244;
  padding: 0px 30px 10px 0px;
  text-align: center;
}

.container5 h4 {
  padding: 20px 0px 30px 0px;
}

.container5 h6 {
  font-size: 20px;
  margin: -20px 0px 0px 0px;
}

.container5 img {
  margin: -10px 10px 100px 10px;
}

.container6 {
  background: url(../img/кейсы.png) 50% 50%/1400px no-repeat local;
  margin: 30px 0px 0px 150px;
}


.container9{
  column-count: 2;
  column-gap: 0px;
  margin: 50px 10px 150px 10px;
}

.container8 {
  margin: 100px 150px 0px -250px;

}

.container7 {
  margin: -10px 10px 10px 150px;

}

.container7 input {
  display: block;
  border-color: #63b5ae;
  background-color: #63b5ae;
  padding: 15px 30px 15px 30px;
  border-radius: 5px;
  border: 2px solid #6d7682;
  font-size: 18px;
}


/* Расчет стоимости */

.container10 {
  text-align: left;
  margin: 100px 670px 150px 500px;
}

.container11 {
  line-height: 50px;
  font-size: 25px;
  color: #263244;
  margin-left: 150px;
}

.container12 select {
  width: 800px;
  height: 50px;
  font-size: 18px;
  background-color: #eeee;
  margin: 10px 0px 0px 0px;
}

.container12 {
  margin: 0px 0px 0px -100px;
}

.container50 {
  margin: 0px -300px 0px -100px;
}

.container13 {
  word-spacing: 721px;
  font-size: 20px;
}

.container14 {
  word-spacing: 677px;
  font-size: 20px;
}




/* Немного статистики */

.container15 h4 {
  text-align: center;
  line-height: 86px;
  font-size: 25px;
  color: #263244;
  padding: 80px 10px 0px 10px;
}

.container16 {
  column-gap: 3%;
  column-count: 4;
  column-fill: balance;
  margin: 100px 100px 100px 100px;
  text-align: center;
  font-size: 20px;
}

.container15 {
  background: url(../img/fon4.png) 50% 50%/2400px no-repeat local;
}

.container21 {
  margin: -20px 10px 50px 750px;
}

.container16 img {
  padding: 20px 20px 20px 20px;
}



/* Отзывы */

.container22 {
  margin: -150px 0px 50px 0px;
}

.container22 h4 {
  text-align: center;
  line-height: 86px;
  font-size: 25px;
  color: #263244;
  padding: 150px 10px 0px 25px;
}

.container23 {
  margin: -30px 0px 40px 746px;
}

.container26 {
  margin: -20px 10px 80px 760px
}

.container24 {
  margin: 10px 400px 20px 400px;
}








/* Мои контакты */

.container27 {
  width: 1570px;
  height: 670px;
  background: url(../img/fon5.png) 50% 50%/1577px no-repeat local;
}

.container28 {
  text-align: center;
  font-size: 25px;
  color: #fff;
  padding: 50px 10px 0px 0px;

}


.container29 {
  margin: 15px 10px 30px 750px;
}

.container30 {
  margin: 0px 0px 30px -20px;
  color: #fff;
  font-size: 13px;
}

.container31 {
  color: #fff;
  column-gap: 5%;
  column-count: 3;
  margin: 30px 360px 70px 350px;
  text-align: center;
}

.container32 {
  text-align: center;
  color: #fff;
  margin: 0px 0px 30px 0px;
}


.container33 {
  margin: 10px 0px 26px 340px;
}

.container39 {
  margin: -46px 0px 20px 780px;
}

.container34 {
  margin: 10px 0px 0px 340px;
}

.container35 input {
    height: 35px;
    border: 1px solid #fff;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    margin: 20px 0px 0px 710px;
}

.container36 {
  margin: 11px 0px 0px 0px;
}



















.container0 {
}
